<div class="outer">
    <div class="container-fluid">
        <div class="card" >
            <div class="card-header" >
                ADMIN TOOL
            </div>
            <article class="adminPage" data-theme="dark">
                <div class="row">
                    <div class="adminTool col-md-3 offset-md-3">
                        <button type="button" class="btn btn-sm bg-info" (click) = "on_create_user_clicked()">Create user</button>
                    </div>
                    <div class="col-md-3">
                        <button type="button" class="btn btn-sm bg-info" (click) = "on_list_user_clicked()">List user</button>
                    </div>
                </div>
        </article>
    </div>
</div>
</div>
